* {
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
  }
  
  .Prorata {
    
    text-align: center;
    padding-top: 0%;
    
    background: #ffffff;
    min-height: 100vh;
    color: 	#000000;
  }
  
.Discount {
  
  text-align: center;
  padding-top: 0%;
  
  background: #ffffff;
  min-height: 100vh;
  color: 	#000000;
}

  h1 {
    margin-bottom: 50px;
  }
  h2{
    text-align: center;
  }
  .number-inputs {
    margin-bottom: 20px;
  }
  
  input {
    font-size: 15px;
    border-radius: 25px;
    border: 2px solid #0a0808;
    /* width: 50%; */
    padding: 10px;
    text-align: center;
    /* background: 	#282828; */
  }
  
  input:first-child {
    margin-right: 20px;
  }
  
  button {
    padding: 20px 50px;
    font-size: 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 75px;
    border-bottom-right-radius: 75px;
    /* background: 	#808080; */
    background: 	#282828;
    border: none;
    /* align-items: center; */
    margin-bottom: 60px;
    
    color: #F5F5F5;
    cursor: pointer;
  }
  
  h2 {
    font-size:75px;
  }
  
  label{

    color: #FFFFFF;
  
  }

  