* {
  box-sizing: content-box;
  
  margin: 0;
  padding: 0;
  background: #000000;
  
}



.number-inputs {
  margin-bottom: 20px;
}
h1,
input {
  
  border-radius: 50px;
  border: 1px solid #000000;
  width: 25%;
  padding: 10px;
  text-align: center;
  background: 	#282828;
  color: #FFFFFF;
  
  
}

label{

  color: #FFFFFF;

}
