* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .Prorata {
    
    text-align: center;
    padding-top: 0%;
    
    background: #000000;
    min-height: 100vh;
    color: 	#FFFFFF;
  }
  
.Discount {
  
  text-align: center;
  padding-top: 0%;
  
  background: #000000;
  min-height: 100vh;
  color: 	#FFFFFF;
}

  h1 {
    margin-bottom: 50px;
  }
  
  .number-inputs {
    margin-bottom: 20px;
  }
  
  input {
    font-size: 50px;
    border-radius: 50px;
    border: 1px solid #000000;
    width: 75%;
    padding: 10px;
    text-align: center;
    background: 	#282828;
    color: #FFFFFF;
  }
  
  input:first-child {
    margin-right: 20px;
  }
  
  button {
    padding: 20px 50px;
    font-size: 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 75px;
    border-bottom-right-radius: 75px;
    background: 	#808080;
    border: none;
    align-items: center;
    margin-bottom: 60px;
    color: #F5F5F5;
    cursor: pointer;
  }
  
  h2 {
    font-size:75px;
  }
  