* {
  margin: 0;
  
  
}


.navbar {
  padding: 10px;
  display: flex;
  
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
 
  border-bottom: 1px solid #000000;
  border-radius: 100px;
  border-width: 3px;
  
}
.navbar h1 {
  color: #ffffff;
}
.navbar .links {
  margin-left: auto;
}
.logo{
  height: 30%;
  width: 30%;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  
}



.navbar a:hover  {
  color: cyan;
  
}
.welcome a:hover{
  color: cyan;
}
.welcome{
  
  display: flex;
  justify-content:space-between;
  
  max-width: 100%;

  font-size: 150%;
  
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
